{
    "semi": false,
    "trailingComma": "all",
    "singleQuote": true,
    "printWidth": 80,
    "tabWidth": 4,
    "bracketSameLine": false,
    "endOfLine": "auto",
    "plugins": [
        "prettier-plugin-tailwindcss"
    ]
}
