@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  #nprogress {
    pointer-events: none;
  }

  #nprogress .bar {
    @apply bg-purple-600;

    position: fixed;
    z-index: 1031;
    top: 0;
    left: 0;

    width: 100%;
    height: 3px;
  }
}

.apexcharts-canvas {
  background: transparent !important;
}

.dark .apexcharts-legend-text {
  color: #fff !important;
}

.dark .apexcharts-tooltip.apexcharts-theme-light.apexcharts-active,
.dark .apexcharts-tooltip.apexcharts-theme-light,
.dark .apexcharts-tooltip-title {
  background: transparent !important;
  background-color: rgb(34 39 56) !important;
  color: #fff !important;
  border: 1px solid rgb(21 24 35) !important;
  box-shadow: none !important;
}
