@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  #nprogress {
    pointer-events: none;
  }

  #nprogress .bar {
    @apply bg-purple-600;

    position: fixed;
    z-index: 1031;
    top: 0;
    left: 0;

    width: 100%;
    height: 3px;
  }
}
