@import 'vue-toastification/dist/index.css';

.Vue-Toastification__toast {
  padding: 0 !important;
  box-shadow: none !important;
}

.Vue-Toastification__toast--default,
.Vue-Toastification__toast--success,
.Vue-Toastification__toast--info,
.Vue-Toastification__toast--error {
  background-color: transparent !important;
}
